<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello world</h2>
    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'password' %}">Change with old password</a>
    <a href="{% url 'passwordreset' %}">Change with reset password</a>
</body>
</html>